.nav-sections {
    margin-left: 15%;
    margin-right: 15%;
}
.header.content {
    padding: 0px 15%;
}
a{
    color:black;
}
.footer-copyright{
    width: 35%;
    padding-left: 2%;
}
.page-header{
     padding-bottom: 0% !important ;
     margin: 0% !important;
     border-bottom: 0% !important;
}
.page-header .header.panel {
    background: transparent;
}
.page-header .panel.wrapper {
    background-color: #0a0a0a;
}
.panel {
    margin-bottom:0%;
    background-color:0%;
    border: 0%;
    border-radius: 0%;
    -webkit-box-shadow: 0%;
    box-shadow: 0%;
}
.navigation {
    background: #f7f7f7;
}
body{
    margin: 0% 2%;
}